@import "_var.scss";
@media (min-width:720px){
    body {
        background-color: $color-fondo;
        display: grid;
        grid-template-areas:
                            "header header header"
                            "nav nav nav"
                            "main main aside"
                            "footer footer footer";
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 5px;
        column-gap: 5px;
    }
    header{
        grid-area: header;
    }
    nav{
        grid-area: nav;
    }
    main{
        grid-area: main;
    }
    aside{
        grid-area: aside;
    }
    footer{
        grid-area: footer;
    }
    
    a{
        text-decoration: none;
        color: white;
    }
    @mixin porpiedadesPrincipales($bg-color,$color-letra,$borde-alto,$borde-bajo) {
        background-color: $bg-color;
        color: $color-letra;
        border-top: $borde-alto;
        border-bottom: $borde-bajo;
    }
    
    .cabeza { 
        @include porpiedadesPrincipales($color-principal, antiquewhite, map-get($borde, alto),map-get($borde, bajo));
        display: flex;
        justify-content:space-around;
        height: 100px;
        align-items: center;
        h1{
            align-items: stretch;
            font-size: 50px;
        }
        img{
            align-items: stretch;
            height: 100px;
            width: 700px;
        }
    }  
    .navegacion{
            border-top: solid 1px $color-secundario;
            border-bottom: solid 1px $color-secundario;
        }
    
    ul{
        list-style: none;
    }

    aside{
        display: block;
    }
    
    .boxconsulta{
        display: flex;
        flex-direction: column;
        @extend .navegacion;
        padding: 15px;
    }
    
    .boxprincipal {
        display: flex;
        color: antiquewhite;
        background-color: $color-principal;
        @extend .navegacion;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        iframe{
            height: 500px;
        }
    }
    .vt{
        color: antiquewhite;
        background-color: $color-principal;
        @extend .navegacion;
        text-align: center;
      }
    .vehiculos{
        display: flex;
        color: antiquewhite;
        background-color: $color-principal;
        @extend .navegacion;
        justify-content: space-around;
        align-content: space-around;
        flex-wrap: wrap;
    }
    .autos {
        display: flex;
        max-width: 200px;
        max-height: 200px;
        color: antiquewhite;
        background-color: $color-principal;
        @extend .navegacion;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .boxpreguntas { 
        display: flex;
    }
    
    .busqueda{
        display: flex;
        flex-direction: column;
        color: antiquewhite;
        align-items: center;
        background-color: $color-principal;
        @extend .navegacion;
        p{
            text-align: center;
        }
    }
    
    .pie{
        display: flex;
        color: antiquewhite;
        background-color: $color-principal;
        @extend .navegacion;
        padding-left: 15px;
        text-align: right;
        justify-content: center;
        p{
            padding-top: 10px;
        }
    }
    }