@media (min-width:320px){
    body {
        background-color: $color-fondo;
        display: grid;
        grid-template-areas:
                            "header header header"
                            "nav nav nav"
                            "main main main"
                            "footer footer footer";
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 5px;
        column-gap: 5px;
    }
    header{
        grid-area: header;
    }
    nav{
        grid-area: nav;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: footer;
    }
    .cabeza { 
        display: flex;
        justify-content:space-around;
        height: 100px;
        color: antiquewhite;
        background-color: $color-principal;
        border-top: solid 1px $color-secundario;
        border-bottom: solid 1px $color-secundario;
        align-items: center;
        h1{
            align-items: stretch;
            font-size: 40px;
            img{
                display: none;
            }
        }
    }
    
    .navegacion{
        border-top: solid 1px $color-secundario;
        border-bottom: solid 1px $color-secundario;
    }

    ul{
        list-style: none;
    }

    .boxconsulta{
        display: flex;
        flex-direction: column;
        @extend .navegacion;
        padding: 15px;
    }
    
    .boxprincipal {
        display: flex;
        color: antiquewhite;
        background-color: $color-principal;
        @extend .navegacion;
        padding-bottom: 15px;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
    
    aside{
        display: none;
    }
    
    .vt{
        color: antiquewhite;
        background-color: $color-principal;
        @extend .navegacion;
        text-align: center;
      }

    .autos {
        display: flex;
        color: antiquewhite;
        background-color: $color-principal;
        @extend .navegacion;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }

    .boxpreguntas { 
        display: flex;
        @extend .navegacion;
    }
    
    .busqueda{
        color: antiquewhite;
        background-color: $color-principal;
        @extend .navegacion;
    }
    
    .pie{
        display: flex;
        color: antiquewhite;
        background-color: $color-principal;
        @extend .navegacion;
        padding-left: 15px;
        text-align: right;
        justify-content: center;
        p{
            padding-top: 10px;
        }
    }
}