*{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
}
@media (min-width:480px){
    body {
        background-color: grey;
        display: grid;
        grid-template-areas:
                            "header header header"
                            "nav nav nav"
                            "main main main"
                            "footer footer footer";
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 5px;
        column-gap: 5px;
    }
    header{
        grid-area: header;
    }
    nav{
        grid-area: nav;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: footer;
    }
    .cabeza { 
        display: flex;
        justify-content:space-around;
        height: 100px;
        color: antiquewhite;
        background-color: blue;
        border-top: solid 5px aqua;
        border-bottom: solid 5px aqua;
        border-radius: 5px;
        align-items: center;
    }
    .cabeza h1{
        align-items: stretch;
        font-size: 40px;
    }
    .cabeza img{
        display: none;
    }
    
    .navegacion {
        position: sticky;
        top: 0px;
        width: 100%;
        height: 45px;
        color: antiquewhite;
        background-color: blue;
        border-top: solid 5px aqua;
        border-bottom: solid 5px aqua;
        border-radius: 5px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
    }
    
    ul{
        list-style: none;
    }
    
    .navegacion ul li {
        display: inline-block;
        background-color: grey;
        border: solid 5px aqua;
        border-radius: 5px;
        padding: 5px;
        transition: 1s;
    }

    .navegacion ul li:hover{
        background-color: blue;
    }
    
    .boxconsulta{
        display: flex;
        flex-direction: column;
        padding: 15px;
    }
    
    .boxprincipal {
        display: flex;
        color: antiquewhite;
        background-color: blue;
        border: solid 5px aqua;
        border-radius: 5px;
        padding-bottom: 15px;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
    
    
    .listavehiculos{
        position: sticky;
        top: 0px;
        width: 100%;
        height: 45px;
        color: antiquewhite;
        background-color: blue;
        border-top: solid 5px aqua;
        border-bottom: solid 5px aqua;
        border-radius: 5px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .listavehiculos ul li{
        display: inline-block;
        background-color: grey;
        border: solid 5px aqua;
        border-radius: 5px;
        padding: 5px;
        margin-right: 15px;
    }
    
    .boxpreguntas { 
        display: flex;
    }
    
    .busqueda{
        color: antiquewhite;
        background-color: blue;
        border: solid 5px aqua;
        border-radius: 5px;
        
    }
    
    .pie{
        color: antiquewhite;
        background-color: blue;
        border-top: solid 5px aqua;
        border-bottom: solid 5px aqua;
        border-radius: 5px;
        padding-left: 15px;
        text-align: right;
    }
}
@media (min-width:720px){
body {
    background-color: grey;
    display: grid;
    grid-template-areas:
                        "header header header"
                        "nav nav nav"
                        "main main aside"
                        "footer footer footer";
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5px;
    column-gap: 5px;
}
header{
    grid-area: header;
}
nav{
    grid-area: nav;
}
main{
    grid-area: main;
}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
}

a{
    text-decoration: none;
    color: white;
}

.cabeza { 
    display: flex;
    justify-content:space-around;
    height: 100px;
    color: antiquewhite;
    background-color: blue;
    border-top: solid 5px aqua;
    border-bottom: solid 5px aqua;
    border-radius: 5px;
    align-items: center;
}
.cabeza h1{
    align-items: stretch;
    font-size: 50px;
}
.cabeza img{
    align-items: stretch;
    height: 100px;
    width: 700px;
}

.navegacion {
    position: sticky;
    top: 0px;
    width: 100%;
    height: 45px;
    color: antiquewhite;
    background-color: blue;
    border-top: solid 5px aqua;
    border-bottom: solid 5px aqua;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

ul{
    list-style: none;
}

.navegacion ul li {
    display: inline-block;
    background-color: grey;
    border: solid 5px aqua;
    border-radius: 5px;
    padding: 5px;
}

.boxconsulta{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.boxprincipal {
    display: flex;
    color: antiquewhite;
    background-color: blue;
    border: solid 5px aqua;
    border-radius: 5px;
    padding-bottom: 15px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.boxprincipal iframe{
    height: 500px;
}

.listavehiculos{
    position: sticky;
    top: 0px;
    width: 100%;
    height: 45px;
    color: antiquewhite;
    background-color: blue;
    border-top: solid 5px aqua;
    border-bottom: solid 5px aqua;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.listavehiculos ul li{
    display: inline-block;
    background-color: grey;
    border: solid 5px aqua;
    border-radius: 5px;
    padding: 5px;
    margin-right: 15px;
}

.boxpreguntas { 
    display: flex;
}

.busqueda{
    color: antiquewhite;
    background-color: blue;
    border: solid 5px aqua;
    border-radius: 5px;
    
}

.pie{
    color: antiquewhite;
    background-color: blue;
    border-top: solid 5px aqua;
    border-bottom: solid 5px aqua;
    border-radius: 5px;
    padding-left: 15px;
    text-align: right;
}
}
