* {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', cursive;
}

@media (min-width: 320px) {
  body {
    background-color: grey;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header header header"
 "nav nav nav"
 "main main main"
 "footer footer footer";
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5px;
    -webkit-column-gap: 5px;
            column-gap: 5px;
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: header;
  }
  nav {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: nav;
  }
  main {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: main;
  }
  footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer;
  }
  .cabeza {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100px;
    color: antiquewhite;
    background-color: #000030;
    border-top: solid 1px #8ddbdb;
    border-bottom: solid 1px #8ddbdb;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cabeza h1 {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    font-size: 40px;
  }
  .cabeza h1 img {
    display: none;
  }
  .navegacion {
    border-top: solid 1px #8ddbdb;
    border-bottom: solid 1px #8ddbdb;
  }
  ul {
    list-style: none;
  }
  .boxconsulta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-top: solid 1px #8ddbdb;
    border-bottom: solid 1px #8ddbdb;
    padding: 15px;
  }
  .boxprincipal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: antiquewhite;
    background-color: #000030;
    border-top: solid 1px #8ddbdb;
    border-bottom: solid 1px #8ddbdb;
    padding-bottom: 15px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .vt{
    color: antiquewhite;
    background-color: #000030;
    border-top: solid 1px #8ddbdb;
    border-bottom: solid 1px #8ddbdb;
    text-align: center;
  }
  .autos {
    display: flex;
    color: antiquewhite;
    background-color: #000030;
    border-top: solid 1px #8ddbdb;
    border-bottom: solid 1px #8ddbdb;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
  aside {
    display: none;
  }
  .boxpreguntas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-top: solid 1px #8ddbdb;
    border-bottom: solid 1px #8ddbdb;
  }
  .busqueda {
    color: antiquewhite;
    background-color: #000030;
    border-top: solid 1px #8ddbdb;
    border-bottom: solid 1px #8ddbdb;
  }
  .pie {
    display: flex;
    color: antiquewhite;
    background-color: #000030;
    border-top: solid 1px #8ddbdb;
    border-bottom: solid 1px #8ddbdb;
    justify-content: center;
  }
  .pie p{
    padding-top: 10px;
  }
}

@media (min-width: 720px) {
  body {
    background-color: grey;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header header header"
 "nav nav nav"
 "main main aside"
 "footer footer footer";
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    row-gap: 5px;
    -webkit-column-gap: 5px;
            column-gap: 5px;
  }
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: header;
  }
  nav {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: nav;
  }
  main {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: main;
  }
  aside {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
    grid-area: aside;
  }
  footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer;
  }
  a {
    text-decoration: none;
    color: white;
  }
  .cabeza {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100px;
    color: antiquewhite;
    background-color: #000030;
    border-top: solid 1px #8ddbdb;
    border-bottom: solid 1px #8ddbdb;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cabeza h1 {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    font-size: 50px;
  }
  .cabeza img {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    height: 100px;
    width: 700px;
  }
  .navegacion {
    border-top: solid 1px #8ddbdb;
    border-bottom: solid 1px #8ddbdb;
  }
  ul {
    list-style: none;
  }
  aside {
    display: block;
  }
  .boxconsulta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-top: solid 1px #8ddbdb;
    border-bottom: solid 1px #8ddbdb;
    padding: 15px;
  }
  .boxprincipal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    color: antiquewhite;
    background-color: #000030;
    border-top: solid 1px #8ddbdb;
    border-bottom: solid 1px #8ddbdb;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .boxprincipal iframe {
    height: 500px;
  }
  .vt{
    color: antiquewhite;
    background-color: #000030;
    border-top: solid 1px #8ddbdb;
    border-bottom: solid 1px #8ddbdb;
    text-align: center;
  }
  .vehiculos{
    display: flex;
    color: antiquewhite;
    background-color: #000030;
    border-top: solid 1px #8ddbdb;
    border-bottom: solid 1px #8ddbdb;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
  }
  .autos {
    display: flex;
    max-width: 200px;
    max-height: 200px;
    color: antiquewhite;
    background-color: #000030;
    border-top: solid 1px #8ddbdb;
    border-bottom: solid 1px #8ddbdb;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
  .boxpreguntas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .busqueda {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: antiquewhite;
    background-color: #000030;
    border-top: solid 1px #8ddbdb;
    border-bottom: solid 1px #8ddbdb;
    align-items: center;
  }
  .busqueda img {
    max-width: 200px;
    max-height: 200px;
  }
  .busqueda h3{
    margin-top: 15px;
  }
  .busqueda p {
    text-align: center;
  }
  .autos{
    color: antiquewhite;
    background-color: #000030;
    border: solid 1px #8ddbdb;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 3px 3px 3px black;
  }
  .pie {
    display: flex;
    color: antiquewhite;
    background-color: #000030;
    border-top: solid 1px #8ddbdb;
    border-bottom: solid 1px #8ddbdb;
    justify-content: center;
  }
  .pie p{
    padding-top: 10px;
  }
}
/*# sourceMappingURL=style.css.map */